<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="lizzie" version="0.8.1" targetFramework="net47" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net47" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net47" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net47" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="3.1.6" targetFramework="net47" />
  <package id="Microsoft.Extensions.DependencyModel" version="7.0.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="Silk.NET.Core" version="2.17.1" targetFramework="net47" />
  <package id="Silk.NET.GLFW" version="2.17.1" targetFramework="net47" />
  <package id="Silk.NET.Input" version="2.17.1" targetFramework="net47" />
  <package id="Silk.NET.Input.Common" version="2.17.1" targetFramework="net47" />
  <package id="Silk.NET.Input.Glfw" version="2.17.1" targetFramework="net47" />
  <package id="Silk.NET.Input.Sdl" version="2.17.1" targetFramework="net47" />
  <package id="Silk.NET.Maths" version="2.17.1" targetFramework="net47" />
  <package id="Silk.NET.OpenGL" version="2.17.1" targetFramework="net47" />
  <package id="Silk.NET.SDL" version="2.17.1" targetFramework="net47" />
  <package id="Silk.NET.Windowing.Common" version="2.17.1" targetFramework="net47" />
  <package id="Silk.NET.Windowing.Glfw" version="2.17.1" targetFramework="net47" />
  <package id="Silk.NET.Windowing.Sdl" version="2.17.1" targetFramework="net47" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net47" />
  <package id="System.Memory" version="4.5.5" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net47" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net47" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net47" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net47" />
  <package id="System.Text.Json" version="7.0.0" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
  <package id="Ultz.Bcl.Half" version="1.0.0" targetFramework="net47" />
  <package id="Ultz.Bcl.Half.Fallback" version="1.0.0" targetFramework="net47" />
  <package id="Ultz.Native.GLFW" version="3.3.9.1" targetFramework="net47" />
  <package id="Ultz.Native.SDL" version="2.24.3.1" targetFramework="net47" />
</packages>